

h1{
    font font-size: 
   text-align: center;
color:aqua;
}
    
td{
    color: cornflowerblue;
    font-size: 25px;
    
}

body{
    background-color:#FFF1BD;
    border: 5px solid black;
    font-family: cursive;
    font-size: 20px;
}

hr{
    color:black;
    size:200px solid black;
}
#abcd {
 
}

